<!DOCTYPE html>
<html lang="en" style="background-color: black;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>


<body>

    <div class="block1">

        <nav>

            <div class="leftnav">

                <a href="/search" type="submit" is="toggle-link" class="icon" aria-controls="search-drawer"
                    aria-expanded="false" aria-label="Search">
                    <svg focusable="false" width="18" height="18" class="icon " viewBox="0 0 18 18">
                        <path
                            d="M12.336 12.336c2.634-2.635 2.682-6.859.106-9.435-2.576-2.576-6.8-2.528-9.435.106C.373 5.642.325 9.866 2.901 12.442c2.576 2.576 6.8 2.528 9.435-.106zm0 0L17 17"
                            fill="none" stroke="white" stroke-width="2"></path>
                    </svg>
                </a>
                <input class="input" is="predictive-search-input" type="text" name="q" autocomplete="off"
                    autocorrect="off" aria-controls="search-drawer" aria-expanded="false" aria-label="Search"
                    placeholder="What are you looking for?">

            </div>

            <div class="middlenav">
                <div></div>
                <img class="logo" width="40px" height="60px"
                    src="//overlays.co/cdn/shop/files/logo_too_big_to_be_true_150x.png?v=1692091122" alt="">
                <div></div>
            </div>
            <div class="rightnav">
                <a href="/cart" is="toggle-link" aria-controls="mini-cart" aria-expanded="false" class="icon "
                    aria-label="Cart" data-no-instant=""><svg focusable="false" width="20" height="18" class="icon "
                        viewBox="0 0 20 18">
                        <path d="M3 1h14l1 16H2L3 1z" fill="none" stroke="white" stroke-width="2"></path>
                        <path d="M7 4v0a3 3 0 003 3v0a3 3 0 003-3v0" fill="none" stroke="white" stroke-width="2"></path>
                    </svg>

                </a>
                <a href="/account/login" class="header__icon-wrapper tap-area hidden-phone " aria-label="Login"><svg
                        focusable="false" width="18" height="17" class="icon icon--header-customer   "
                        viewBox="0 0 18 17">
                        <circle cx="9" cy="5" r="4" fill="none" stroke="white" stroke-width="2" stroke-linejoin="round">
                        </circle>
                        <path d="M1 17v0a4 4 0 014-4h8a4 4 0 014 4v0" fill="none" stroke="white" stroke-width="2">
                        </path>
                    </svg>
                </a>

            </div>

        </nav>
    </div>
    <video class="video" muted="" autoplay="" playsinline="" loop="">

        <source src="https://cdn.shopify.com/videos/c/o/v/9423b6ed2dc94bce996fb966f9cdd50c.mov"  ="" type="video/mp4">
    </video>


    <div id="searchguide" aria-live="polite">
        <!-- <div role="group" aria-label="1 / 8">
                <a href="/collections/mystical-collection">
                    <img class="circle" src="//overlays.co/cdn/shop/files/20230804-DSC03331_a346e28e-5572-495a-8e52-fc95119f35dc.jpg?v=1692020228&amp;width=400" width="400" height="600">
                </a>
                <p> New Drop </p>
            </div> -->
        <div role="group" aria-label="2 / 8">
            <a href="/collections/tshirts-1">
                <img class="circle"
                    src="//overlays.co/cdn/shop/files/New_Project_3_58c4c578-7722-41af-a77b-8ae8359b3afe.jpg?v=1692528483&amp;width=400"
                    width="400" height="400">
            </a>
            <p> T-shirts </p>
        </div>
        <div role="group" aria-label="3 / 8">
            <a href="/collections/bottoms">
                <img class="circle"
                    src="//overlays.co/cdn/shop/files/1_small_d361057f-1828-4186-ace6-ad82deb8211c.png?v=1691145212&amp;width=400"
                    width="400" height="509">
            </a>
            <p> Bottoms </p>
        </div>
        <div role="group" aria-label="4 / 8">
            <a href="/collections/crop-tops">
                <img class="circle" src="//overlays.co/cdn/shop/files/New_Project_2.png?v=1691263070&amp;width=400"
                    width="400" height="509">
            </a>
            <p> Crop Top </p>
        </div>
        <div role="group" aria-label="5 / 8">
            <a href="/collections/tshirts">
                <img class="circle"
                    src="//overlays.co/cdn/shop/files/New_Project_8_1d7aa889-4aab-4007-ba14-509818e0d98d.jpg?v=1692528992&amp;width=400"
                    width="400" height="400">
            </a>
            <p> Sweatshirt </p>
        </div>
        <div role="group" aria-label="6 / 8">
            <a href="/collections/polo-shirts">
                <img class="circle"
                    src="//overlays.co/cdn/shop/files/New_Project_4_30cdf5b1-d05e-4bc2-814e-ebc2a2dcbfaf.jpg?v=1692528556&amp;width=400"
                    width="400" height="400">
            </a>
            <p> Polo Shirts </p>
        </div>
        <div role="group" aria-label="7 / 8">
            <a href="/collections/shirts">
                <img class="circle"
                    src="//overlays.co/cdn/shop/files/New_Project_7_352d2a97-3f84-4f6f-b812-e03aa0ee6348.jpg?v=1692528774&amp;width=400"
                    width="400" height="400">
            </a>
            <p> Shirts </p>
        </div>
        <div role="group" aria-label="8 / 8">
            <a href="/collections/mid-summer">
                <img class="circle"
                    src="//overlays.co/cdn/shop/files/New_Project_10_7f9b18a5-cdaf-416d-b4ca-1ff2a3834f9b.jpg?v=1692528930&amp;width=400"
                    width="400" height="400">
            </a>
            <p> Essentials </p>
        </div>
    </div>
    <div id="pics">
        <img class="pic" src="https://overlays.co/cdn/shop/files/3_d_1.jpg?v=1692600169&width=1400" alt="">          
        <img class="pic"  src="https://overlays.co/cdn/shop/files/New_Project_12_9250bda6-281b-4c23-a039-6eff6f77babe.jpg?v=1692606886&width=1400" alt="">
        <img class="pic"  src="https://overlays.co/cdn/shop/files/1_d_2.jpg?v=1692085513&width=1400" alt="">
        <img class="pic"  src="https://overlays.co/cdn/shop/files/2_d_1.jpg?v=1692540917&width=1400" alt="">
        <img  class="pic" src="https://overlays.co/cdn/shop/files/4_d_1_1.jpg?v=1692600246&width=1400" alt="">


    </div>



</body>

</html>