.size{
  text-decoration: none;
  color: black;
  margin-top: 5px;
 
}
.sizebox{
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.productbottom{
    display: flex;
}
.product{
    border: 1px black solid;
    width: 400px;
    height: auto;
}
.productimg img{
    width: 400px;
}
/* Define a class to apply the hover effect */
/* .hover-image:hover {
    content: url("<%- element.img2 %>");
    /* Add any other styling you want for the hover effect */
/* } */ 

/* Reset the image source when not hovering */
/* .product .productimg img {
    content: url("https://overlays.co/cdn/shop/files/20230805-DSC03425.jpg?v=1692105105&width=400");
} */

/* Add a smooth transition effect */


     