.size{
  text-decoration: none;
  color: black;
  margin-top: 5px;
 
}
.sizebox{
    border: 1px solid gray;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.productbottom{
    display: flex;
    
}
.product{
    border: 1px black solid;
    width: 333px;
    height: auto;
}
.productimg img{
    width:  333px;
}
/* Remove blue color from anchor tags */
a {
    /* Dark gray */
    text-decoration: none; /* Remove underlines */
  }
  
  /* Style visited links */
  a:visited {
    color: #666; /* Slightly lighter gray for visited links */
  }
  
  /* Add a subtle color change on hover */
  a:hover {
    color: #007bff; /* Blue on hover */
  }
  