@font-face {
    font-family: Futura;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("//overlays.co/cdn/fonts/futura/futura_o5.2374ce1c635b408a1f07994a3de4a936fc50f767.woff2?h1=b3ZlcmxheXNjbG90aGluZy5jb20&h2=b3ZlcmxheXMtY2xvdGhpbmcuYWNjb3VudC5teXNob3BpZnkuY29t&h3=b3ZlcmxheXMuY28&h4=b3ZlcmxheXMuY28uaW4&hmac=110063bd28e7a7f666354cee02d4bb32f81410090888964f37c1e10d610e1936") format("woff2"),
       url("//overlays.co/cdn/fonts/futura/futura_o5.1bf4df2c089a877c3ba2d33a9d4c7908742bfc89.woff?h1=b3ZlcmxheXNjbG90aGluZy5jb20&h2=b3ZlcmxheXMtY2xvdGhpbmcuYWNjb3VudC5teXNob3BpZnkuY29t&h3=b3ZlcmxheXMuY28&h4=b3ZlcmxheXMuY28uaW4&hmac=4573f07fe5427a098afd8da1775689f863f40c36b14c248793b3d5e4baca7075") format("woff");
    }
    *{
        font-family: "Futura", sans-serif;
    }

.btn{
    text-size-adjust: 100%;
    --heading-color: 26, 26, 26;
    --text-color: 26, 26, 26;
    --background: 255, 255, 255;
    --secondary-background: 229, 229, 229;
    --border-color: 221, 221, 221;
    --border-color-darker: 163, 163, 163;
    --success-color: 46, 158, 123;
    --success-background: 213, 236, 229;
    --error-color: 222, 42, 42;
    --error-background: 253, 240, 240;
    --primary-button-background: 0, 0, 0;
    --primary-button-text-color: 255, 255, 255;
    --secondary-button-background: 229, 229, 229;
    --secondary-button-text-color: 0, 0, 0;
    --product-star-rating: 228, 158, 15;
    --product-on-sale-accent: 255, 112, 0;
    --product-sold-out-accent: 111, 113, 155;
    --product-custom-label-background: 255, 112, 0;
    --product-custom-label-text-color: 255, 255, 255;
    --product-custom-label-2-background: 243, 229, 182;
    --product-custom-label-2-text-color: 0, 0, 0;
    --product-low-stock-text-color: 222, 42, 42;
    --product-in-stock-text-color: 46, 158, 123;
    --root-heading-color: 26, 26, 26;
    --root-text-color: 26, 26, 26;
    --root-background: 255, 255, 255;
    --root-border-color: 221, 221, 221;
    --root-primary-button-background: 0, 0, 0;
    --root-primary-button-text-color: 255, 255, 255;
    --base-font-size: 15px;
    --heading-font-family: Galano Grotesque;
    --heading-font-weight: 500;
    --heading-font-style: normal;
    --heading-text-transform: normal;
    --text-font-family: Galano Grotesque;
    --text-font-weight: 500;
    --text-font-style: normal;
    --text-font-bold-weight: 600;
    --heading-xxsmall-font-size: 11px;
    --button-border-radius: 4px;
    --block-border-radius: 8px;
    --block-border-radius-reduced: 4px;
    --color-swatch-border-radius: 100%;
    --form-input-gap: 16px;
    --product-list-block-spacing: 32px;
    --play-button-background: 255, 255, 255;
    --play-button-arrow: 26, 26, 26;
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;
    --zoom-cursor-svg-url: url(//overlays.co/cdn/shop/t/51/assets/zoom-cursor.svg?v=1201279167966953441691777465);
    --arrow-right-svg-url: url(//overlays.co/cdn/shop/t/51/assets/arrow-right.svg?v=88946934944805437251691777465);
    --arrow-left-svg-url: url(//overlays.co/cdn/shop/t/51/assets/arrow-left.svg?v=112457598847827652331691777465);
    --container-max-width: 1600px;
    --container-max-width-minus-gutters: calc(var(--container-max-width) - (var(--container-gutter)) * 2);
    --container-outer-width: max(calc((100vw - var(--container-max-width-minus-gutters)) / 2), var(--container-gutter));
    --container-inner-width: calc(100vw - var(--container-outer-width) * 2);
    --grid-gap: 24px;
    --grid-column-width: calc((100vw - var(--container-outer-width) * 2 - var(--grid-gap) * (var(--grid-column-count) - 1)) / var(--grid-column-count));
    --payment-terms-background-color: #ffffff;
    --container-gutter: 40px;
    --grid-column-count: 20;
    --vertical-breather: 40px;
    --vertical-breather-tight: 40px;
    --heading-xsmall-font-size: 12px;
    --heading-small-font-size: 13px;
    --heading-large-font-size: 52px;
    --heading-h1-font-size: 48px;
    --heading-h2-font-size: 38px;
    --heading-h3-font-size: 32px;
    --heading-h4-font-size: 24px;
    --heading-h5-font-size: 20px;
    --heading-h6-font-size: 18px;
    --form-input-field-height: 52px;
    --form-submit-margin: 32px;
    --button-height: 52px;
    --button-small-height: 44px;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --swym-remind-cta-bg-color: #00a65a;
    --swym-remind-cta-text-color: white;
    --swym-remind-cta-bg-color-v2: #000000;
    --swym-remind-cta-text-color-v2: white;
    --swym-subscribe-success-bg-color: #AEE9D1;
    --swym-subscribe-success-text-color: #202223;
    --swym-recently-viewed-pointer-pos: 92%;
    --enable-sticky-announcement-bar: 0;
    --enable-sticky-header: 0;
    --enable-transparent-header: 0;
    --loading-bar-background: 0, 0, 0;
    --window-height: 657px;
    --header-height: 85px;
    --header-height-without-bottom-nav: 85px;
    --occ-theme-color: #000000;
    --container-outer-margin: 0px;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    font: inherit;
    margin: 0;
    overflow: visible;
    border: none;
    cursor: pointer;
    touch-action: manipulation;
    margin-top: var(--form-submit-margin);
    position: relative;
    display: inline-block;
    appearance: none;
    line-height: var(--button-height);
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    border-radius: var(--button-border-radius);
    background: rgb(var(--button-background));
    color: rgb(var(--button-text-color));
    --button-background: var(--primary-button-background);
    --button-text-color: var(--primary-button-text-color);
    width: 100%;
    background-image: linear-gradient(178deg,rgb(var(--button-background)),rgb(var(--button-background)) 10%,rgba(0,0,0,.07) 10%,rgba(0,0,0,.07) 100%),linear-gradient(rgb(var(--button-background)),rgb(var(--button-background)));
    background-size: 100% 200%,100% 100%;
    background-position: 100% -100%,100% 100%;
    background-repeat: no-repeat;
    transition: background-position .3s cubic-bezier(.215,.61,.355,1);
    transform: translateZ(0);
    font-family: var(--text-font-family);
    font-weight: var(--text-font-bold-weight);
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 35px;
    font-size: calc(var(--base-font-size) - 2px);
    letter-spacing: 2px;
    width: 500px;
    margin-bottom: 20px;
    
}
.input{
  
    text-size-adjust: 100%;
    --heading-color: 26, 26, 26;
    --text-color: 26, 26, 26;
    --background: 255, 255, 255;
    --secondary-background: 229, 229, 229;
    --border-color: 221, 221, 221;
    --border-color-darker: 163, 163, 163;
    --success-color: 46, 158, 123;
    --success-background: 213, 236, 229;
    --error-color: 222, 42, 42;
    --error-background: 253, 240, 240;
    --primary-button-background: 0, 0, 0;
    --primary-button-text-color: 255, 255, 255;
    --secondary-button-background: 229, 229, 229;
    --secondary-button-text-color: 0, 0, 0;
    --product-star-rating: 228, 158, 15;
    --product-on-sale-accent: 255, 112, 0;
    --product-sold-out-accent: 111, 113, 155;
    --product-custom-label-background: 255, 112, 0;
    --product-custom-label-text-color: 255, 255, 255;
    --product-custom-label-2-background: 243, 229, 182;
    --product-custom-label-2-text-color: 0, 0, 0;
    --product-low-stock-text-color: 222, 42, 42;
    --product-in-stock-text-color: 46, 158, 123;
    --root-heading-color: 26, 26, 26;
    --root-text-color: 26, 26, 26;
    --root-background: 255, 255, 255;
    --root-border-color: 221, 221, 221;
    --root-primary-button-background: 0, 0, 0;
    --root-primary-button-text-color: 255, 255, 255;
    --base-font-size: 15px;
    --heading-font-family: Galano Grotesque;
    --heading-font-weight: 500;
    --heading-font-style: normal;
    --heading-text-transform: normal;
    --text-font-family: Galano Grotesque;
    --text-font-weight: 500;
    --text-font-style: normal;
    --text-font-bold-weight: 600;
    --heading-xxsmall-font-size: 11px;
    --button-border-radius: 4px;
    --block-border-radius: 8px;
    --block-border-radius-reduced: 4px;
    --color-swatch-border-radius: 100%;
    --form-input-gap: 16px;
    --product-list-block-spacing: 32px;
    --play-button-background: 255, 255, 255;
    --play-button-arrow: 26, 26, 26;
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;
    --zoom-cursor-svg-url: url(//overlays.co/cdn/shop/t/51/assets/zoom-cursor.svg?v=1201279167966953441691777465);
    --arrow-right-svg-url: url(//overlays.co/cdn/shop/t/51/assets/arrow-right.svg?v=88946934944805437251691777465);
    --arrow-left-svg-url: url(//overlays.co/cdn/shop/t/51/assets/arrow-left.svg?v=112457598847827652331691777465);
    --container-max-width: 1600px;
    --container-max-width-minus-gutters: calc(var(--container-max-width) - (var(--container-gutter)) * 2);
    --container-outer-width: max(calc((100vw - var(--container-max-width-minus-gutters)) / 2), var(--container-gutter));
    --container-inner-width: calc(100vw - var(--container-outer-width) * 2);
    --grid-gap: 24px;
    --grid-column-width: calc((100vw - var(--container-outer-width) * 2 - var(--grid-gap) * (var(--grid-column-count) - 1)) / var(--grid-column-count));
    --payment-terms-background-color: #ffffff;
    --container-gutter: 40px;
    --grid-column-count: 20;
    --vertical-breather: 40px;
    --vertical-breather-tight: 40px;
    --heading-xsmall-font-size: 12px;
    --heading-small-font-size: 13px;
    --heading-large-font-size: 52px;
    --heading-h1-font-size: 48px;
    --heading-h2-font-size: 38px;
    --heading-h3-font-size: 32px;
    --heading-h4-font-size: 24px;
    --heading-h5-font-size: 20px;
    --heading-h6-font-size: 18px;
    --form-input-field-height: 52px;
    --form-submit-margin: 32px;
    --button-height: 52px;
    --button-small-height: 44px;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --swym-remind-cta-bg-color: #00a65a;
    --swym-remind-cta-text-color: white;
    --swym-remind-cta-bg-color-v2: #000000;
    --swym-remind-cta-text-color-v2: white;
    --swym-subscribe-success-bg-color: #AEE9D1;
    --swym-subscribe-success-text-color: #202223;
    --swym-recently-viewed-pointer-pos: 92%;
    --enable-sticky-announcement-bar: 0;
    --enable-sticky-header: 0;
    --enable-transparent-header: 0;
    --loading-bar-background: 0, 0, 0;
    --window-height: 657px;
    --header-height: 85px;
    --header-height-without-bottom-nav: 85px;
    --occ-theme-color: #000000;
    --container-outer-margin: 0px;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    font: inherit;
    margin: 0;
    appearance: none;
    width: 100%;
    height: var(--form-input-field-height);
    line-height: var(--form-input-field-height);
    padding: 0 18px;
    border-radius: var(--button-border-radius);
    border: 1px solid rgba(var(--text-color),.15);
    box-shadow: none;
    background: transparent;
    color: var(--form-input-color);
    transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
    text-align: left;
    margin-bottom: 20px;
    width: 500px;
    color: black;
}

.somebtn{
    text-size-adjust: 100%;
    --heading-color: 26, 26, 26;
    --text-color: 26, 26, 26;
    --background: 255, 255, 255;
    --secondary-background: 229, 229, 229;
    --border-color: 221, 221, 221;
    --border-color-darker: 163, 163, 163;
    --success-color: 46, 158, 123;
    --success-background: 213, 236, 229;
    --error-color: 222, 42, 42;
    --error-background: 253, 240, 240;
    --primary-button-background: 0, 0, 0;
    --primary-button-text-color: 255, 255, 255;
    --secondary-button-background: 229, 229, 229;
    --secondary-button-text-color: 0, 0, 0;
    --product-star-rating: 228, 158, 15;
    --product-on-sale-accent: 255, 112, 0;
    --product-sold-out-accent: 111, 113, 155;
    --product-custom-label-background: 255, 112, 0;
    --product-custom-label-text-color: 255, 255, 255;
    --product-custom-label-2-background: 243, 229, 182;
    --product-custom-label-2-text-color: 0, 0, 0;
    --product-low-stock-text-color: 222, 42, 42;
    --product-in-stock-text-color: 46, 158, 123;
    --root-heading-color: 26, 26, 26;
    --root-text-color: 26, 26, 26;
    --root-background: 255, 255, 255;
    --root-border-color: 221, 221, 221;
    --root-primary-button-background: 0, 0, 0;
    --root-primary-button-text-color: 255, 255, 255;
    --base-font-size: 15px;
    --heading-font-family: Galano Grotesque;
    --heading-font-weight: 500;
    --heading-font-style: normal;
    --heading-text-transform: normal;
    --text-font-family: Galano Grotesque;
    --text-font-weight: 500;
    --text-font-style: normal;
    --text-font-bold-weight: 600;
    --heading-xxsmall-font-size: 11px;
    --button-border-radius: 4px;
    --block-border-radius: 8px;
    --block-border-radius-reduced: 4px;
    --color-swatch-border-radius: 100%;
    --form-input-gap: 16px;
    --product-list-block-spacing: 32px;
    --play-button-background: 255, 255, 255;
    --play-button-arrow: 26, 26, 26;
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;
    --zoom-cursor-svg-url: url(//overlays.co/cdn/shop/t/51/assets/zoom-cursor.svg?v=1201279167966953441691777465);
    --arrow-right-svg-url: url(//overlays.co/cdn/shop/t/51/assets/arrow-right.svg?v=88946934944805437251691777465);
    --arrow-left-svg-url: url(//overlays.co/cdn/shop/t/51/assets/arrow-left.svg?v=112457598847827652331691777465);
    --container-max-width: 1600px;
    --container-max-width-minus-gutters: calc(var(--container-max-width) - (var(--container-gutter)) * 2);
    --container-outer-width: max(calc((100vw - var(--container-max-width-minus-gutters)) / 2), var(--container-gutter));
    --container-inner-width: calc(100vw - var(--container-outer-width) * 2);
    --grid-gap: 24px;
    --grid-column-width: calc((100vw - var(--container-outer-width) * 2 - var(--grid-gap) * (var(--grid-column-count) - 1)) / var(--grid-column-count));
    --payment-terms-background-color: #ffffff;
    --container-gutter: 40px;
    --grid-column-count: 20;
    --vertical-breather: 40px;
    --vertical-breather-tight: 40px;
    --heading-xsmall-font-size: 12px;
    --heading-small-font-size: 13px;
    --heading-large-font-size: 52px;
    --heading-h1-font-size: 48px;
    --heading-h2-font-size: 38px;
    --heading-h3-font-size: 32px;
    --heading-h4-font-size: 24px;
    --heading-h5-font-size: 20px;
    --heading-h6-font-size: 18px;
    --form-input-field-height: 52px;
    --form-submit-margin: 32px;
    --button-height: 52px;
    --button-small-height: 44px;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --swym-remind-cta-bg-color: #00a65a;
    --swym-remind-cta-text-color: white;
    --swym-remind-cta-bg-color-v2: #000000;
    --swym-remind-cta-text-color-v2: white;
    --swym-subscribe-success-bg-color: #AEE9D1;
    --swym-subscribe-success-text-color: #202223;
    --swym-recently-viewed-pointer-pos: 92%;
    --enable-sticky-announcement-bar: 0;
    --enable-sticky-header: 0;
    --enable-transparent-header: 0;
    --loading-bar-background: 0, 0, 0;
    --window-height: 657px;
    --header-height: 85px;
    --header-height-without-bottom-nav: 85px;
    --occ-theme-color: #000000;
    --container-outer-margin: 0px;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    font: inherit;
    margin: 0;
    text-align: inherit;
    padding: 0;
    overflow: visible;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    appearance: none;
    touch-action: manipulation;
    color: rgba(var(--text-color),.7);
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgba(var(--text-color),.35);
    transition: text-decoration-color .2s ease-in-out,color .2s ease-in-out,-webkit-text-decoration-color .2s ease-in-out;
    font-size: calc(var(--base-font-size) - 2px);
    line-height: 1.5384615385;
   margin-top: -20px;
    /* position: absolute;
    top: 1.1em; */
    /* right: 18px; */
}
#container{
    border: 1px solid black;
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
   color: #000000;
  margin-top: 110px;
}
